<div class="container-fluid">
  <div class="row d-flex justify-content-center">
      <div class="col-lg-8 row d-flex justify-content-center">
        <button mat-raised-button color="warn"  routerLink="/">Домой</button>
        <button mat-raised-button color="primary"  routerLink="/companies">Компании</button>
        <button mat-raised-button color="accent" routerLink="/products">Продукты</button>
      </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
            <router-outlet></router-outlet>
  </div>
</div>

